<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MISTRAL_API_KEY</key>
	<string>YOUR_MISTRAL_API_KEY_HERE</string>
	<key>OPENROUTER_API_KEY</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>SkyLine looks at the photos from your trip dates to work out which places you spent time at, so you can log them without typing. Your photos stay on your device.</string>
	<key>NSCameraUsageDescription</key>
	<string>Take photos of boarding passes for automatic flight information import</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>GeistMono-Regular.ttf</string>
		<string>GeistMono-Medium.ttf</string>
		<string>GeistMono-SemiBold.ttf</string>
		<string>GeistMono-Bold.ttf</string>
	</array>
</dict>
</plist>
